* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    width: 100%;
    max-height: 60px;

    background-color:rgba(18, 22, 25, 0.9);;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    padding: 0 85px;
}

.menu__list {
    display: flex;
    align-items: center;
    
    font-size: 22px;
    line-height: 26px;
}

.menu__list a {
    text-transform: uppercase;
    text-decoration: none;

    text-align: center;
    color: #ccc;
    
}

.menu__list a:hover {
    color: #fff;
}

.menu__list li+li {
    padding-left: 50px;
}

.logo {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;

    text-decoration: none;
    color: #fff !important;
}
.btn {
    display: flex;
    align-items: center;
}
.btn__account {
    margin-right: 15px;
}

.btn__ticket {
    margin-right: 90px;
    padding: 10px 33px;

    background-color: #FF0000;
    border-radius: 9px;

    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.slider {
    width: 100%;

}

.slider-dots {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 90%;
}

.slider-dots li {
    display: inline;
}

.slider-dots li+li {
    margin-left: 15px;
}

.slider-dots button {
    border: none;
    background-color: #fff;
    opacity: 0.5; 
    font-size: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.slider-dots .slick-active button {
    opacity: 1;
}

/*Header-seance*/

.header-seance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    

    background-color: #162027;
}

.header-seance__date {
    margin-left: 85px;
}

.header-seance__date a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #fff;
}

.header-seance__date a+a {
    margin-left: 16px;
}

.header-seance__search {
    margin-right: 85px;
}

/*Drop Select CITY*/

.menu ul {
    position: relative;
}

.menu ul ul{
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
}

.menu li:hover ul{
    display: block;
}

.menu li:hover li{
    display: block;
}

.search-input {
    width: 237px;
    height: 36px;
    padding-left: 48px;
    padding-top: 5px;

    background-image: url("../img/search.png");
    background-size: 24px 24px;
    background-position: 8px 7px;
    background-repeat: no-repeat;
    
    outline: none;
    border: none;
    
    font-size: 16px;
    line-height: 19px;
    color: #A29999;
}

.search-input:focus {
    color: black;
}

/*Seance*/
.seance {
    width: 100%;
    max-height: 957px;
    padding: 33px 83px;
    background-color: #0C171B;
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}


.seance__item {
    
    width: 209px;
    height: 209px;

    margin-bottom: 25px;
    position: relative;

}

.seance__item-image {
    width: 100%;
    height: 100%;
}

#film-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    letter-spacing: 0.03em;
}

#film-genre {
    font-size: 14px;
}

.seance__item-info {
    position: absolute;
    width: 100%;
    height: 30%;

    background-color: #162027;

    top: 70%;
    padding-top: 15px;
    text-align: center;
    
}

.seance-style {
    text-decoration: none;
    color: #fff;
}

seance__item-info__data li a {
    text-decoration: none;
}

.seance__item-info li+li {
    margin-top: 5px;
}